<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sifitecha</title>
<link rel="stylesheet" href="/css/Principio.css">
</head>
<body>

    <header>
        <div class="logo-section">
            <div class="logo-container">
                <img src="/images/Captura_desde_2026-05-26_20-13-17-removebg-preview.png" alt="Logo Aplicación">
            </div>
            
            <a href="/perfil" class="user-profile-button" title="Mi Perfil">
                <img src="/images/Captura_desde_2026-05-26_20-13-17-removebg-preview.png" alt="Foto de perfil">
            </a>
        </div>
        
        <nav>
            <a href="#" class="nav-btn">CABECERA</a>
            <a href="#" class="nav-btn">CABECERA</a>
            <a href="#" class="nav-btn">CABECERA</a>
            <a href="#" class="nav-btn">CABECERA</a>
            <a href="#" class="nav-btn">CABECERA</a>
        </nav>
    </header>

    <main>
        <a href="/libros" class="card-link">
            <div class="card">
                <div class="card-title">Libros</div>
                <div class="card-media">
                    <video autoplay loop muted playsinline>
                        <source src="/videos/3608-172488324.mp4" type="video/mp4">
                        Tu navegador no soporta vídeos.
                    </video>
                </div>
            </div>
        </a>

        <a href="/musica" class="card-link">
            <div class="card">
                <div class="card-title">Música</div>
                <div class="card-media">
                    <video autoplay loop muted playsinline>
                        <source src="/videos/2284-157183539.mp4" type="video/mp4">
                        Tu navegador no soporta vídeos.
                    </video>
                </div>
            </div>
        </a>
    </main>

    <footer>
        <a href="#" class="footer-item">Copyright</a>
        <a href="#" class="footer-item">Política de privacidad</a>
        <a href="#" class="footer-item">Contáctanos</a>
    </footer>

</body>
</html>